html {
  margin: 0 auto;
  max-width: 1400px;
}

body {
  font-family: "Open Sans";
  font-size: 0.938rem;
  margin: 0;
  background-color: #fafafa;
}

section {
  margin: 0 0em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.wrapper {
  margin: 0 5em;
}

.order-list {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 0.5em;
  border: 1px solid #ebe9e9;
}

.order-list .order-item {
  margin: 1em 3em 1em 0;
  font-weight: 500;
  text-transform: capitalize;
}

.order-list .order-item .price {
  margin: 0 2em;
}

.order-list .order-item .sub-item a {
  font-size: 0.8rem;
  color: #c4c4c4;
}

.order-list .order-item .color-link {
  color: #44e051;
}

.order-list .price-item {
  margin-right: 2em;
}

.order-list .mobile-icon {
  margin: 0 1em 0 2em;
}

.order-list .fa-mobile-android-alt {
  padding: 0.5em 0.7em;
  border-radius: 34px;
  background-color: #bbc4c4;
  font-size: 1.7rem;
  color: #fff;
}

.order-list .order-link {
  color: #000;
}

.order-list .fa-location,
.order-list .fa-map-marker-alt,
.order-list .fa-phone-alt {
  margin-right: 1em;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000;
  position: relative;
  top: 1em;
}

.left-border {
  border-left: 5px solid #17c264;
}

@media (max-width: 780px) {
  .order-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .order-list .order-item {
    margin: 1em 2em 1em 0;
  }
  .wrapper {
    margin: 0em;
  }
}

.order-box-container {
  margin: 4em 0;
  border-left: 5px solid #17c264;
  border-right: 2px solid #e1e1e1;
  border-top: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  border-radius: 0.5em;
}

.food-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.food-list .food-link {
  margin: 0px 6em 0 1em;
}

.food-list img {
  width: 60px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin: 0 2em;
}

.three-dots {
  font-size: 1.2rem;
}

.ordered-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 780px) {
  .food-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.options {
  background-color: #efefef;
  border-radius: 8px;
  padding: 0.5em 0;
}

.options h3 {
  margin-left: 1.5em;
  text-transform: capitalize;
}

.prices-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em 2em;
}

.ordered-details .food-link {
  margin-left: 2em;
}

.cards-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards-content .cards {
  background-color: #ffffff;
  width: 350px;
  height: 185px;
  padding: 1em;
  border: 2px solid #d4d0d0;
  border-radius: 0.5em;
  margin: 0.8em 0.4em 0 0;
}

.cards-content .client-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}

.testimonials-content img {
  border-radius: 5em;
  width: 15%;
}

.testimonial p {
  padding-left: 1em;
  font-size: 0.8rem;
}

.food-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

.details-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1em 1.5em;
}

.details-btn button {
  padding: 1em 3em;
  border: none;
  background: #e800d8;
  border-radius: 0.5em;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.top-bar {
  padding: 2em 0;
}

.top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-items button {
  position: relative;
  right: 1em;
  padding: 0.5em;
  border: 1px solid #bbc4c4;
  background: #fff;
  border-radius: 0em 0.3em 0.3em 0;
}

.top-items input[type="text"] {
  border: 1px solid #bbc4c4;
  border-radius: 0.3em;
  padding: 0.5em;
}

.top-items ::-webkit-input-placeholder {
  color: #bbc4c4;
  text-align: center;
}

.top-items :-ms-input-placeholder {
  color: #bbc4c4;
  text-align: center;
}

.top-items ::-ms-input-placeholder {
  color: #bbc4c4;
  text-align: center;
}

.top-items ::placeholder {
  color: #bbc4c4;
  text-align: center;
}

.border-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-border-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 3px solid #ff30ff;
  padding: 0.5em 1em 0.5em 1em;
}

.bottom-border-one p span {
  padding-left: 1.5em;
}

.bottom-border-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 3px solid #e1e1e1;
  padding: 0.5em 28em 0.5em 1em;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting p {
  padding-right: 1em;
}

.sorting h4 {
  padding: 0em 1em;
}

.sorting .arrow-down {
  top: 0.5em;
}

@media (max-width: 780px) {
  .bottom-border-one {
    padding: 0.5em 1em 0.5em 1em;
  }
  .bottom-border-two {
    padding: 0.5em 1em 0.5em 1em;
  }
}

@media (max-width: 1254px) {
  input[type="text"] {
    margin-top: 1em;
  }
}
/*# sourceMappingURL=styles.css.map */